Repository nazahex/plumet: changes, and which lefthook commands are due for each by the changed paths.
All: biome, dprint

biome:
  run: 'command -v bun >/dev/null 2>&1 && bun run biome check --write {staged_files} || npx biome check --write {staged_files}
  
    '
  stage_fixed: true

dprint:
  run: 'command -v bun >/dev/null 2>&1 && bun run dprint fmt {staged_files} || dprint fmt {staged_files}
  
    '
  stage_fixed: true

chore: set gitignore
  .gitignore
Due: none

chore: set dprint
  .dprint.json
Due: biome

chore: set editorconfig
  .editorconfig
Due: none

feat: add TUI printer for styled output and event logging
  src/tui.ts
Due: biome

feat: add type definitions for Plumet style, config, and canvas
  src/types.ts
Due: biome

feat: implement style and canvas compilation functions
  src/generator.ts
Due: biome

feat: add CLI functionality for building and watching Plumet projects
  src/cli.ts
Due: biome

feat: add dependency collector for resolving local file dependencies
  src/deps.ts
Due: biome

feat: implement watch loop for monitoring file changes and rebuilding
  src/watch.ts
Due: biome

feat: add index file to export core functionalities and types
  src/index.ts
Due: biome

test: add tests for compileStyle, compileCanvas, and compileCanvasMap functions
  src/generator.test.ts
Due: biome

chore: update linter rules to disable useLiteralKeys complexity check
  biome.json
Due: biome

chore: set changeset
  .changeset/config.json
Due: biome

ci: add CI and release workflows
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: dprint

docs: write readme
  README.md
Due: dprint

fix: add missing executable binary path for CLI recognition
  .changeset/petite-glasses-brush.md
  package.json
Due: biome, dprint

chore: remove local plumet dependency from devDependencies
  package.json
Due: biome

feat: enhance configuration options with global settings and formatting styles
  src/types.ts
Due: biome

refactor: streamline type imports and enhance compile functions with global configuration support
  src/generator.ts
Due: biome

test: add comprehensive tests for style omission and format support
  src/generator.test.ts
Due: biome

feat: add totalBytes to summary interface and enhance summary output formatting
  src/tui.ts
Due: biome

feat: enhance build process with normalization of PlumetData and totalBytes tracking
  src/cli.ts
Due: biome

feat: expand type exports to include PlumetData, PlumetFormat, and PlumetGlobalConfig
  src/index.ts
Due: biome

docs: include omit selectors feature and usage examples
  README.md
Due: dprint

docs: add new style tokens and omit selectors feature
  README.md
Due: dprint

fix: enhance compileCanvas function to handle optional omit and format configurations
  src/generator.ts
Due: biome

refactor: introduce global configuration support and restructure PlumetData for improved integration
  .changeset/jolly-cases-count.md
Due: dprint

Path conditions:
  biome: any of: *.{cjs,js,mjs,jsx,ts,tsx,json,jsonc}
  dprint: any of: *.{md,mdx,css,scss,sass,toml,yml,yaml}
